<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a id="logo" class="navbar-brand  text-center ps-4" href="#">Rubén Ayllón</a>
      <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
        aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body pe-4">
          <ul class="navbar-nav justify-content-start flex-grow-1 ">
            <li class="nav-item">
              <a routerLink="plantilla" class="nav-link text-warning">
                <i class="bi bi-house-door"></i>
                Formulario plantilla
              </a>

            </li>
            <li>
              <a routerLink="reactivo" class="nav-link text-warning">
                <i class="bi bi-speedometer2"></i>
                Formulario reactivo
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>
